.works {
  background-color: white;
  height: 100vh;
  overflow: hidden;
  position: relative;

    h1{
      font-size: 50px;
      text-align: center;
    }

    .arrow {
      font-size: 150px;
      font-weight: 100;
      color: black;
      position: absolute;
      cursor: pointer;
      top: 50%;

      &.right{
        right: 20px
      }

      &.left{
        left: 20px
      }
    }

    .slider {
      // height: 350px;
      display: flex;
      position: absolute;
      left: 0;
      transition: all 1s ease-out;

      .container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;

        .item {
          overflow: hidden;
          width: 75%;
          height: 100%;
          border-radius: 10px;
          box-shadow: 0 1px 6px rgb(0 0 0 / 5%);
          background-color: #6852e7;
          display: flex;
          flex-direction: column;
          justify-content: space-around;


            .topContainer {
              width: 100%;
              // display: flex;
              // flex-direction: column;
              justify-content: space-between;
              align-items: center;
              padding: 15px;
              display: flex;
              align-items: center;
              // justify-content: center;

              .left {
                flex: 1;
              }

              h2 {
                color: white;
              }

              p {
                color: #c1b5ff;
              }

              .skillsContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 16px;
              }

                img {
                  width: 50px;
                  object-fit: contain;
                }


              h2 {
                font-size: 20px;
              }

              p {
                font-size: 13px;
              }
            }

            .actions {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 15px;

              button {
                flex: 1;
              }
            }


          .right {
            flex: 2;

            img {
              // object-fit: fill;
              // border-radius: 10px;
            }
          }
        }
      }
    }
}
