.works {
  background-color: white;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

    h1{
      position: absolute;
      font-size: 50px;
      top: 0;
    }

    .arrow {
      font-size: 150px;
      font-weight: 100;
      color: black;
      position: absolute;
      cursor: pointer;

      &.right{
        right: 20px
      }

      &.left{
        left: 20px
      }
    }

    .slider {
      // height: 350px;
      display: flex;
      position: absolute;
      left: 0;
      transition: all 1s ease-out;

      .container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;

        .item {
          overflow: hidden;
          width: 75%;
          height: 100%;
          background-color: white;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #f0f8ff;
          box-shadow: 0 1px 6px rgb(0 0 0 / 5%);

          .left {
            flex: 4;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            .leftContainer {
              // width: 90%;
              // height: 70%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-start;

              .skillsContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 16px;
              }

                img {
                  width: 50px;
                  object-fit: contain;
                }


              h2 {
                font-size: 20px;
              }

              p {
                font-size: 13px;
              }

              .actions {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
              }
            }
          }

          .right {
            height: 100%;
            flex: 8;
            display: flex;
            // align-items: center;
            justify-content: center;
            height: 100%;

            img {
              width: 500px;
              margin-left: -6%;
            }
          }
        }
      }
    }
}
