@import "../../styles/global_styles.scss";

.portfolioList{
  font-size: 14px;
  // margin-right: 50px;
  margin: 0 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  &.active{
    background-color: $mainColor;
    color: white;
  }
}
