.intro {
  background-color: white;
  display: flex;
  height: calc(100vh - 70px);

  .left {
    flex: 0.5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .imageContainer{
      height: auto;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      // float: right;

      img {
        height: 100%;
      }
    }
  }

  .right {
    flex: 0.5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper{
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1{
        font-size: 60px;
        margin: 10px 0;
      }
      h2{
        font-size: 35px;
      }
      h3{
        font-size: 35px;
        // position: relative;

        span{
          font-size: inherit;
          color: crimson;
        }

      }

      a{
        font-size: 4rem;

        position: absolute;
        bottom: 20px;
        right: 50%;

        .icon {
          font-size: 72px;
          animation: arrowBlink 2s infinite;
        }

        @keyframes arrowBlink {
          100%{
            opacity: 0;
          }
        }

      }
    }
  }
}
