.intro {
  background-color: white;
  display: flex;
  height: calc(100vh - 70px);

  .left {
    flex: 0.5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .imageContainer{
      // height: auto;
      // width: 300px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // // border-radius: 50%;
      // // float: right;
      width: 500px;
      height: 500px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      .img {
        display: inline;
        margin: 0 auto;
        margin-left: -25%; //centers the image
        height: 100%;
        width: auto;
      }
    }
  }

  .right {
    flex: 0.5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper{
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1{
        font-size: 60px;
        margin: 10px 0;
      }
      h2{
        font-size: 35px;
      }
      h3{
        font-size: 35px;
        // position: relative;

        span{
          font-size: inherit;
          color: #ff4d1b;
        }
      }

      .actions {

        display: flex;
        gap: 20px;

        .btn {
          margin-top: 10%;
          width: 250px;
          padding: 20px;
          text-align: center;
          background: #6852e7;
          border-radius: 50px;

          a {
            color: white;
            font-size: 20px;
          }

          &.contact {
            background: #f5f4f9;

            a {
              color: #1c1929;
            }
          }
        }

      }



      // a{
      //   font-size: 4rem;

      //   position: absolute;
      //   bottom: 20px;
      //   right: 50%;

      //   .icon {
      //     font-size: 72px;
      //     animation: arrowBlink 2s infinite;
      //   }

      //   @keyframes arrowBlink {
      //     100%{
      //       opacity: 0;
      //     }
      //   }

      // }
    }
  }
}
